{
  "all": true,
  "include": [
    "app/Controllers/Http/**",
    "app/Models/**"
  ],
  "exclude": [
    "app/Controllers/Http/DevController.js",
    "app/Controllers/Http/CommentController.js",
    "app/Models/Comment.js",
    "app/Models/Traits"
  ]
}